@font-face {
    font-family: 'MyCustomFont';
    src: url('../assets/fonts/ailerons.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

body {
    background-image: url("../assets/images/background.png");
    background-color: #CFD8DC;
    background-size: cover;
    position: absolute;
    z-index: 9999;
    /* pointer-events: none; */
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    font-family: 'MyCustomFont', sans-serif;
}

#power-center {
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
    width: 25%;
}

.cell {
    position: relative;
    margin: 1%;
    padding: 7%;
    background: rgba(0, 0, 0, 0.3);
    font-size: 32px;
}

#player-window {
    position: absolute;
    margin-left: 34%;
    margin-top: 5%;
    padding: 18% 30%;
    /* width: 50%; */
    background: #03091E;
}

#resource-totals {
    position: absolute;
    margin-top: 40%;
    margin-left: 5%;
    font-size: 32px;
}

.resource-total {
    position: relative;
    float: left;
    padding: 3% 5%;
}

#damageAnim {
    background: none;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    /* z-index: 9998; */
}

/* palette ideas:
#CE4760 - redish alarm





*/